/*****************/
/* Header        */
/*****************/
#header {  
	padding:0px; 
	margin-top:20px; 
	height: 40px;
}
#header_big {  
	padding:0px; 
	margin-top:20px; 
	height: 90px;
}
#header_title { 
	font-family:"Times New Roman",Georgia,Serif;
	font-weight:bold; 
	font-size:25px; 
	text-align: center;
	width: 100px;
	height: 40px;
	line-height: 40px;
	float:left;
	background-color: rgba(50,50,50,1);
	color: #fff;
}
#header_title_big { 
	font-family:"Times New Roman",Georgia,Serif;
	font-weight:bold; 
	font-size:30px; 
	text-align: center;
	width: 90px;
	height: 70px;
	line-height: 70px;
	float:left;
	background-color: rgba(50,50,50,1);
	color: #C0C0A0;
}
#header_subtitle_big { 
	font-weight:bold; 
	font-size:15px; N1mp0rT4QUi
	
	text-align: left;
	width: 870px;
	height: 70px;
	line-height: 70px;
	float:left;
	background-color: rgba(50,50,50,1);
	color: #ddd;
	background-image: url('../img/aeg_patrocinadors/upc_logo.gif');
	background-position: center right;
	background-repeat: no-repeat;
}
#header_subtitle_big span{ margin-left: 50px; }
#menu { 
	font-size:15px; 
	width: 858px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(50,50,50,1);
	text-align: center;
	margin-left:2px;
	float:left;
	background-image: url('../img/aeg_patrocinadors/upc_logo.gif');
	background-position: center right;
	background-repeat: no-repeat;
	opacity: 0.8;
}
#menu_big {
	width: 960px;
	float: none;
	clear: both;
	font-size:15px; 
	height: 25px;
	line-height: 25px;
	background-color: rgba(50,50,50,1);
	text-align: center;
	opacity: 0.8;
	background-color: #669ACC;
	border-bottom: 1px #444 solid;
}
#menu li, #menu_big li { 
	float: left; 
	list-style-type: none;
}
#menu A:link, #menu_big A:link { 
	font-weight:normal; 
	text-decoration:none; 
	color:#eee;
}
#menu A:visited, #menu_big A:visited { 
	font-weight:normal; 
	text-decoration:none; 
	color:#eee;
}
#menu A:active, #menu_big A:active  { 
	font-weight:normal; 
	text-decoration:none; 
	color:#eee;
}
#menu A:hover, #menu_big A:hover  { 
	margin-top: 1px;
	font-weight:normal; 
	text-decoration:none; 
	color:#eee;
}


/*****************/
/* Body-General  */
/*****************/

input[type="text"]:focus, input[type="text"]:hover,
input[type="submit"]:focus, input[type="submit"]:hover
{
	-webkit-animation: pulse 1.5s infinite ease-in-out;
	-moz-animation: pulse 1.5s infinite ease-in-out;
}
@-webkit-keyframes pulse {
	0% 	{ -webkit-box-shadow: 0 0 12px rgba(19, 116, 184, 0.2); }
	50% { -webkit-box-shadow: 0 0 12px rgba(19, 116, 184, 0.9); }
	100% { -webkit-box-shadow: 0 0 12px rgba(19, 116, 184, 0.2); }
}
@-moz-keyframes pulse {
	0% { -moz-box-shadow: 0 0 12px rgba(19, 116, 184, 0.2); }
	50% { -moz-box-shadow: 0 0 12px rgba(19, 116, 184, 0.5); }
	100% { -moz-box-shadow: 0 0 12px rgba(19, 116, 184, 0.5); }
}
input[type="submit"]{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	position: relative;
	cursor: pointer;
	background-color: #444;
}

/* Images PopUp */
#popUpDiv {
position:absolute; 
background-color:#eeeeee;
height:600px;
z-index: 9002;
/*overflow:auto;*/
}
#blanket {
background-color:#111;
opacity: 0.65;
filter:alpha(opacity=65);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
overflow:auto;
height:100%;
}

/* Lists */
ul, li {
	margin: 0 12px;
}

body{ 
	background-color: #C0C0A0; 
	color: #444; 
	font-family: "Arial",  "verdana", Helvetica, sans-serif; 
	font-size: 10pt;
    font-style: normal;
	overflow:auto;
}

/* Links */
/*A:link { color:#5E0531; text-decoration:none; font-weight: bold; }*/
A:link { color:#222; text-decoration:underline; font-weight: bold; }
A:visited { color:#555; text-decoration:none; font-weight: bold; }
A:active { color:#222; text-decoration:none; }
A:hover { color:#888; text-decoration: none; }
a img { border:none; }

/* Tables */
table{ 
	border-collapse: collapse; 
	padding:0px;
	margin:0px;
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
	background-color: #C0C0A0;
}
th a.desc:after {
	content: '⇣';
}
th a.asc:after {
	content: '⇡';
}
table tr td {
	padding: 3px;
	border-bottom:1px solid #ddd;
}
/* Titles */
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	background:#C0C0A0;
	/*color: #003d4c;*/
	color: #444;
	font-size: 100%;
}
h2 {
	background:#C0C0A0;
	/*color: #e32;*/
	color: #669ACC;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 150%;
}
h3 {
	color: #993;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}

/* Forms */
form { 
	/*background-color:#DDDDDD; */
	padding-top:15px; 
	padding-bottom:15px; 
	padding-left:10px; 
	overflow:auto;
	/*border: 2px #555 solid;*/
	/*background-color: rgba(250,250,250,0.5);*/
	color: #444;
}
.submit_image {
	vertical-align:bottom;
	margin-left:10px;
}

/*****************/
/* Footer        */
/*****************/
#footer { 
	background-color: rgba(50,50,50,1); 
	padding:0px; 
	margin-top:40px; 
	margin-bottom:25px; 
	text-align:center; 
	height: 30px; 
	line-height: 30px; 
	opacity: 0.8;
	font-size: 12px;
	text-align: center;
}
#footer ul { margin-left: 200px; }
#footer li { 
	float: left; 
	list-style-type: none;
	/*list-style-image:url('../img/aeg_patrocinadors/quadrat_bct.gif'); */
}
#footer A:link { 
	color:#ddd;
	font-weight:bold; 
	text-decoration:none; 
}
#footer A:visited { 
	color:#ddd;
}
#footer A:active { 

}
#footer A:hover { 
	/*text-decoration: underline overline; */
	margin-top: 1px;
}

/*****************/
/* Search Engine */
/*****************/
#buscador { margin-top:20px; }
/*#buscador input[type=submit] {  font-weight:bold; margin-top:15px; }*/

#search_result { margin-top:20px; }

.paging_count, .paging_nav{
	margin-top:10px;
	margin-bottom:15px;
}

/***********************/
/* Motor Search Engine */
/***********************/
.submit {
	text-align:center;
	vertical-align:bottom;
}
.search_fields_advanced {
	clear:both;
	padding:3px;
}
.search_fields_basic {
	clear:both;
	padding:3px;
}
.search_labels {
	float:left;
	width:90px;
	font-weight:bold; 
}
.search_field_comparition {
	margin-left:0px; 
	width:130px; 
	font-weight:normal; 
	font-size:13px;
}
.search_field_value {
	margin-left:10px; 
	width:90px; 
	font-weight:normal; 
	font-size:14px;
}
.motorid_col {
	text-align:center;
	width:110px;
}
.piecec_col {
	width:70px;
	text-align:center;
}
.unityc_col {
	width:85px;
	text-align:center;
}
.denomination_col {
	width:240px;
}
.serie_col {
	width:60px;
	text-align:center;
}
.height_col {
	width:70px;
	text-align:center;
}
.power_col {
	width:85px;
	text-align:center;
}
.voltage_col {
	width:75px;
	text-align:center;
}
.shape_col {
	width:70px;
	text-align:center;
}
.plan_col {
	text-align:center;
}
#motors_result_list div{
	float:left;
	border:0px;
	height: 20px;
}
#motors_result_row div{
	float:none;
	clear:both;
	height: 16px;
}
#planols_list div{
	float:left;
	border:0px;
}
#planols_row div{
	float:none;
	clear:both;
}


/*****************/
/* View Motor    */
/*****************/
#motor 
{  
	margin-top:20px;
}
#components 
{  
	margin-top:20px;
}
#plans
{  
	margin-top:20px;
}
#plans form { 
	padding-top:15px; 
	padding-bottom:15px; 
	padding-left:10px; 
	overflow:auto;
}
#plans_list th {
	text-align:center;
}
#plans_list td{
	text-align:left;
}
.PlansList_id {
	width:100px;
}
.PlansList_Code {
	width:100px;
}
.PlansList_Image {
	width:250px;
}
.PlansList_Location {
	width:250px;
}
.PlansList_Actions {
	width:70px;
}

#MotorView_Serie {
	margin-top:10px;
}
#MotorView_Serie .serie_previous_text, .serie_id{
	font-weight:bold;
}


/*****************/
/* Admin Motor   */
/*****************/
.admin_motors_actions {
	width:73px;
}

.quick_edit_tbox{
	text-align:center;
	width:100%;
}/*
.quick_edit_tbox input[type="text"]{
	width:90%;
}*/

#PartIndexForm,
#SeriesAdminQuickEditForm,
#PlanolIndexForm,
#PlanolAdminQuickEditForm
{
padding: 0px;
overflow:hidden;
margin: 0px;
}


.motor_result_row form{
padding: 0px;
overflow:hidden;
margin-bottom: 5px; 
}
.motor_result_row{
margin-bottom: 2px; 
margin-top: 2px; 
}
/**********************/
/* Part Search Engine */
/**********************/
#motors_result_list div{
	float:left;
	border:0px;
}
.motors_result_row div{
	float:none;
	clear:both;
}
.parts_result_row form{
padding: 0px;
overflow:hidden;
}
#buscador_parts { margin-top:20px; }
/*#buscador_parts input[type=submit] {  font-weight:bold; margin-top:0px; }*/
.parts_search_fields_basic {
	float:left;
	padding:3px;
	margin-right:15px;
}
.parts_search_labels {
	float:left;
	font-weight:bold; 
}
.parts_search_submit {
	float:left;
	text-align:center;
}
#components  .partid_col_th {
	text-align:center;
}
#components .partid_col_td {
	text-align:left;
}
#components .quantity_col {
	width:50px; 
	text-align:center;
}
#components .unityc_col {
	width:50px; 
	text-align:center;
}
#components .denomination_col_th {
	width:350px; 
	text-align:center;
}
#components .denomination_col_td {
	width:350px; 
	text-align:left;
}
#components .plan_col {
	width:60px; 
	text-align:center;
}
.part-result_id_col {
	text-align:center;
	width:150px; 
	float:left;
	padding:0px;
}
.part-result_piecec_col {
	text-align:center;
	width:75px;
	float:left;
	padding:0px;
}
.part-result_unityc_col {
	text-align:center;
	width:85px;
	float:left;
	padding:0px;
}
.part-result_denomination_col {
	text-align:center;
	width:557px; 
	float:left;
	padding:0px;
}
.part-admin_motors_actions {
	text-align:center;
	width:73px; 
	float:left;
	padding:0px;
}
.parts_result_row {
	float:none;
	clear:both;
	margin-bottom: 2px; 
	margin-top: 2px; 
	height: 16px;
}
.parts_result_row div{
	height: 17px;
}
.component_son {
	margin-left:15px;
}
.InTableForm {
	padding-top:0px; 
	padding-bottom:0px; 
	padding-left:0px; 
}

/**********/
/* Colors */
/**********/
.error { background-color:#FF0000; font-weight:bold; }

.color_0_hard { background-color:#DDDDDD; }
.color_0_soft { background-color:#999999; }
.color_2_hard { background-color:#FFCE95; }
.color_2_soft { background-color:#FFBA6B; }
.color_4_hard { background-color:#FFF9A4; }
.color_4_soft { background-color:#FFF66B; }
.color_6_hard { background-color:#D7FFA4; }
.color_6_soft { background-color:#BBFD65; }
.color_8_hard { background-color:#C2FDE0; }
.color_8_soft { background-color:#65FDB1; }

.row { background-color:#fff; }
.altrow { background-color:#bbb; }